* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 99%;
    margin: auto;
}

/* head */
#logo-banner {
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 20%;
    background-color: #4ea0ff;
}

#logo-banner img {
    height: 50px;
    margin-top: 40px;
    margin-left: 5px;
}

/* main */

.highlight {
    background-color: yellow;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
}

.tittle h2 {
    color: #808080;
}
.tittle p {
    color: #808080;
    font-size: 15px;
}

#boolean {
    color: #20a9e5;
}

#myimg {
    margin-top: 20px;
}

.paragraph {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.list {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}